In [2]:
import numpy as np
import pandas as pd

In [6]:
columns=["prodeuct_id","category","price"]
product_id=np.arange(501,550)
np.random.seed(1)
category=np.random.choice(["electronics","clothing","home decor"],size=np.size(product_id))
price=np.random.randint(50,200,size=np.size(product_id))
df=pd.DataFrame({"prodeuct_id":product_id,"category":category,"price":price})
df.tail(7)

    prodeuct_id     category  price
42          543  electronics    178
43          544     clothing     56
44          545   home decor    102
45          546     clothing     52
46          547  electronics    126
47          548   home decor    199
48          549   home decor     57